<div class="h-100 w-100">
  <p-panel>
    <p-header>
      <strong class="p-0" style="color: #14B8A6;">
        Rezolvarea unui labirint cu algoritmi de parcurgere
      </strong>
    </p-header>
    <div class="h-100">
      <div class="row h-100">
        <div class="col-7 h-100" id="canvasContainer">
          <canvas id="canvasLabyrinth" style="border: 1px solid #14B8A6;"></canvas>
        </div>
        <div class="col-5 h-100" style="border: 1px solid #4ed5c6;">

        </div>
      </div>
    </div>
  </p-panel>
</div>

